/******************************************

    CONTENTS:

    1. TYPOGRAPHY
    2. LAYOUT, GENERAL
    3. HEADER
    4. MAIN NAV
    5. FOOTER
    6. COMMUNITY APP

******************************************/
body {
  font-family: Arial, 'Hevetica Neue', Helvetica, sans-serif;
  font-size: 15px;
  line-height: 24px; }

h1 {
  font-size: 24px; }

h2 {
  font-size: 19px; }

h3, h4, h5 {
  font-size: 15px; }

h1, h2, h3, h4, h5, h6, b {
  font-weight: bold; }

i {
  font-style: italic; }

.btn {
  font-size: 15px;
  line-height: 24px; }

.delete, .delete:hover {
  color: red; }

h1, h2, h3, h4, h5, h6, p, ul, ol, img, button, #disqus_thread {
  line-height: 24px;
  margin: 0 0 24px 0;
  padding: 0; }

body {
  background: url(http://londonacademyofit.co.uk/Styles/images/Bottom_texture.jpg) fixed;
  background-size: cover;
  height: auto;
  margin: 0;
  padding-bottom: 24px; }

.wrapper {
  background: #FFF;
  border-radius: 3px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
  margin: 0 auto; }

.container {
  max-width: 100%; }

img, iframe {
  height: auto;
  max-width: 100%; }

iframe {
  margin-bottom: 24px;
  min-height: 200px; }

ol, ul {
  margin-left: 20px; }

.icon {
  margin: 0; }

@media (min-width: 768px) {
  .wrapper {
    width: 750px; }
  th, td {
    min-width: 100px; }
  iframe {
    min-height: 384px; } }

@media (min-width: 992px) {
  .wrapper {
    width: 970px; } }

header {
  background: url(http://londonacademyofit.co.uk/Styles/images/header.gif);
  margin-bottom: 24px;
  padding: 24px 0 0;
  text-align: center; }

header .right-col {
  margin-bottom: 24px; }

.logo-name {
  left: -9999px;
  position: absolute; }

header h2 {
  color: #088A85;
  font-size: 15px;
  font-weight: bold;
  line-height: 24px; }

header .icon {
  margin-left: 24px; }

header .contact-info {
  color: #666699; }

@media (min-width: 992px) {
  header {
    text-align: left; }
  header .right-col {
    text-align: right; } }

.main-nav {
  background: #555555;
  padding: 24px 0;
  text-align: center; }

.main-nav ul {
  list-style-type: none;
  display: none;
  margin: 0; }

.main-nav a, .main-nav a:visited {
  color: #FFF;
  cursor: pointer;
  border-radius: 3px;
  font-size: 15px;
  line-height: 36px;
  padding: 6px 12px;
  text-decoration: none; }

.main-nav a:hover, .main-nav a:active, .main-nav a:focus {
  background: #FFF;
  color: #000;
  text-decoration: none; }

.toggle-menu, .toggle-menu:visited {
  background: #FFF;
  color: #000 !important; }

@media (min-width: 992px) {
  .main-nav {
    padding: 0; }
  .main-nav ul {
    display: block; }
  .main-nav ul li {
    display: inline-block;
    margin: 0 10px; }
  .toggle-menu {
    display: none; } }

footer {
  background: url(http://londonacademyofit.co.uk/Styles/images/footer.png);
  padding-top: 24px;
  text-align: center; }

footer h6, footer a, footer ul, footer p, footer address {
  font-size: 11px;
  line-height: 15px;
  margin: 0 0 7.5px 0; }

footer ul {
  line-height: 15px;
  list-style-type: none; }

footer a, footer a:visited {
  color: #555555; }

@media (min-width: 768px) {
  footer {
    text-align: left; } }

.md-button {
  margin: 0 0 24px 0; }

md-dialog {
  max-height: 100%;
  min-width: 30%; }

md-input-container {
  min-height: 96px; }

/*# sourceMappingURL=main.css.map */