<!DOCTYPE>
<html ng-app="LAIT-Community">
    <head>
      
        <title>Community | The London Academy of IT</title>
        <meta name="description" content="">
        <meta name="robots" content="index,follow">
        <link rel="canonical" href="http://www.londonacademyofit.co.uk/community/">
        
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        
        <meta property="og:site_name" content="">
        <meta property="og:title" content="Community | The London Academy of IT">
        <meta property="og:description" content="">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://lait-forum-louiseswift-1.c9.io/dist/">
        <meta property="og:locale" content="en_UK">
        <meta property="og:image" content="https://lait-forum-louiseswift-1.c9.io/dist/assets/images/">
        
        <link rel="icon" href="http://www.londonacademyofit.co.uk/images/favicon.ico" type="image/x-icon">

        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css">
        <link rel="stylesheet" href="css/main.css" />
        
    </head>
    
    <body>
    
        <div class="wrapper">
    
            <header role="banner">
                <div layout="row" layout-sm="column" layout-padding>
                    <div flex class="left-col">
                        <h1 class="logo-name">London Academy of IT</h1>
                        <a href="http://www.londonacademyofit.co.uk/" title="The London Academy of IT"><img class="logo" src="http://www.londonacademyofit.co.uk/images/logo_slogan_london_academy_of_it.png" alt="London Academy of IT"></a>
                    </div>
                    <div flex class="right-col">
                        <h2 class="logo-text">High-quality and affordable IT Training courses<br />
                            Enhance your employability<br />
                            Small classes to focus on your learning<br />
                            At times to suit you: Weekends, Evenings or Daytime</h2>
                        <img class="icon" src="http://www.londonacademyofit.co.uk/images/phone_24.png" alt="Call us on 0208 123 5965" /><span class="contact-info">0208 123 5965</span>
                        <img class="icon" src="http://www.londonacademyofit.co.uk/images/email_24.png" alt="Email us at info@londonacademyofit.co.uk" /><span class="contact-info">info@londonacademyofit.co.uk</span>
                    </div>
                </div>
                
               <nav role="navigation" class="main-nav">
                        
                    <ul>
                        <li><a href="http://www.londonacademyofit.co.uk/" title="Home | The London Academy of IT">Home</a></li>
                        <li><a href="http://www.londonacademyofit.co.uk/courses.aspx" title="Courses | The London Academy of IT">Courses</a></li>
                        <li><a href="http://www.londonacademyofit.co.uk/packages.aspx" title="Packages | The London Academy of IT">Packages</a></li>
                        <li><a href="http://www.londonacademyofit.co.uk/timetable.aspx" title="Timetable | The London Academy of IT">Timetable</a></li>
                        <li><a href="http://www.londonacademyofit.co.uk/venue.aspx" title="Location | The London Academy of IT">Location</a></li>
                        <li><a href="http://www.londonacademyofit.co.uk/faq.aspx" title="FAQs | The London Academy of IT">FAQs</a></li>
                        <li><a href="http://www.londonacademyofit.co.uk/about.aspx" title="About | The London Academy of IT">About</a></li>
                        <li><a href="http://www.londonacademyofit.co.uk/contact.aspx" title="Contact | The London Academy of IT">Contact</a></li>
                        <li><a href="/" title="Community | The London Academy of IT">Community</a></li>
                    </ul>
                
                    <a class="toggle-menu">Show Menu</a>
                    
                </nav>
                
            </header>

            <div layout="row" layout-padding>
                <div flex>
                    
                    <div ng-controller="MainCtrl">
                    
                        <md-content>
                    
                            <div layout="row" layout-align="space-between center">
                                <h1>Join the Community</h1>
                                
                                <md-button class="md-accent" ng-if="!user" ng-click="showLoginDialog($event)">
                                  Login / Sign Up
                                </md-button>
                                
                                <div layout="row" layout-align="space-between center" ng-if="user">
                                    <p>You are logged in as {{ user.name }}.</p>
                                    <md-button ng-click="logout()">
                                      Logout
                                    </md-button>
                                </div>
                            </div>
                            
                            <div layout="row" layout-align="space-between center">
                                <h2>Discussion Topics</h2>
                            
                                <md-button class="md-raised md-primary" ng-click="">
                                    Create New Topic
                                </md-button>
                            </div>
                            
                            <md-select placeholder="Sort topics by..." ng-model="sortOrder">
                                <md-option value="'date'">Date (most recent first)</md-option>
                                <md-option value="'title'">Title</md-option>
                            </md-select>
                            
                            <md-list>
                                <md-item ng-repeat="topic in topics | orderBy:sortOrder">
                                    <md-item-content>
                                      <div class="md-tile-left">
                                          <img ng-src="{{ topic.author.photo }}" class="face" alt="{{ topic.author.name }}">
                                      </div>
                                      <div class="md-tile-content">
                                        <h3>{{ topic.title }}</h3>
                                        <p>{{ topic.content | limitTo:1000 }} ... 
                                        <br><a href="">Read more & respond &raquo;</a></p>
                                        <p>Posted by: <b>{{ topic.author.name }}</b></p>
                                      </div>
                                    </md-item-content>
                                </md-item>
                            </md-list>
                        
                        </md-content>
                    
                        <div ng-if="waiting" layout="row" layout-align="end center">
                            <md-progress-circular ng-if="waiting" md-mode="indeterminate"></md-progress-circular>
                        </div>
                    
                    </div>
                    
                </div>
            </div>
    
            <footer>
                <div layout="row" layout-sm="column" layout-padding>
                    <div flex>
                        <address>
                            <h6>London Academy of IT</h6>
                            Unit 15 (Ground Floor) Boardman House<br>
                            64 Broadway<br>
                            Stratford<br>
                            London E15 1NT<br>
                            United Kingdom<br>
                        </address>
    
                        <p>Tel: +44 (0)208 123 5965</p>
                        <p>Fax: +44 (0)207 112 8910</p>
                        <p>Email: info@londonacademyofit.co.uk</p>
                    </div>
                    
                    <div flex="50">
                        <h6>Popular Courses</h6>
                        
                        <div layout="row">
                            <ul flex="50">
                                <li><a href="http://www.londonacademyofit.co.uk/training-course-photoshop.aspx" title="">Adobe Photoshop for Web Designers</a></li>
                                <li><a href="http://www.londonacademyofit.co.uk/training-course-c-sharp.aspx" title="">Programming with C# for Beginners</a></li>
                                <li><a href="http://www.londonacademyofit.co.uk/training-course-php-mysql.aspx" title="">PHP with MySQL for Beginners</a></li>
                                <li><a href="http://www.londonacademyofit.co.uk/training-course-java.aspx" title="">Programming with Java for Beginners</a></li>
                                <li><a href="http://www.londonacademyofit.co.uk/training-course-advanced-php-mysql.aspx" title="">Advanced PHP with MySQL</a></li>
                                <li><a href="http://www.londonacademyofit.co.uk/training-course-advanced-c-sharp.aspx" title="">Advanced C# Programming</a></li>
                                <li><a href="http://www.londonacademyofit.co.uk/training-course-seo.aspx" title="">SEO - Search Engine Optimisation</a></li>
                                <li><a href="http://www.londonacademyofit.co.uk/training-course-web-design.aspx" title="">Web Design for Beginners</a></li>
                            </ul>
                            <ul flex="50">
                                <li><a href="http://www.londonacademyofit.co.uk/training-course-sql-server.aspx" title="">Database Design with Microsoft SQL Server</a></li>
                                <li><a href="http://www.londonacademyofit.co.uk/training-course-wordpress-cms.aspx" title="">Web Design with WordPress (CMS)</a></li>
                                <li><a href="http://www.londonacademyofit.co.uk/training-course-javascript.aspx" title="">JavaScript for Beginners</a></li>
                                <li><a href="http://www.londonacademyofit.co.uk/training-course-advanced-wordpress.aspx" title="">Advanced WordPress</a></li>
                                <li><a href="http://www.londonacademyofit.co.uk/training-course-android-app-development.aspx" title="">Android App Development</a></li>
                                <li><a href="http://www.londonacademyofit.co.uk/training-course-asp-dot-net.aspx" title="">Web Development with ASP.NET</a></li>
                                <li><a href="http://www.londonacademyofit.co.uk/training-course-ssrs.aspx" title="">SQL Server Reporting Services (SSRS)</a></li>
                            </ul>
                        </div>
                    </div>
    
                    <div flex>
                        <h6>Other Information</h6>
                        
                        <ul class="row">
                            <li class="small-12 columns"><a href="http://www.londonacademyofit.co.uk/careers.aspx" title="Careers | The London Academy of IT">Careers</a></li>
                            <li class="small-12 columns"><a href="http://www.londonacademyofit.co.uk/venue.aspx" title="Venue | The London Academy of IT">Venue</a></li>
                            <li class="small-12 columns"><a href="http://www.londonacademyofit.co.uk/faq.aspx" title="FAQs | The London Academy of IT">FAQs</a></li>
                            <li class="small-12 columns"><a href="http://www.londonacademyofit.co.uk/about.aspx" title="About Us | The London Academy of IT">About Us</a></li>
                            <li class="small-12 columns"><a href="http://www.londonacademyofit.co.uk/contact.aspx" title="Contact Us | The London Academy of IT">Contact Us</a></li>
                            <li class="small-12 columns"><a href="http://www.londonacademyofit.co.uk/learning-blog/" title="Learning Blog | The London Academy of IT">Learning Blog</a></li>
                            <li class="small-12 columns"><a href="http://www.londonacademyofit.co.uk/terms-and-conditions.aspx" title="">Terms and Conditions</a></li>
                        </ul>
                    </div>
                </div>
            
                <div layout="row" layout-padding>
                    
                    <p flex><b>Copyright &copy; 2015 London Academy of IT Ltd. All rights reserved.</b></p>
                    
                </div>
                
            </footer>
    
        </div><!--.wrapper-->
        
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        
          ga('create', 'UA-28548085-1', 'auto');
          ga('send', 'pageview');
        </script>
        
        <!-- Angular -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <!-- Angular Material Dependencies -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-aria.min.js"></script>
        <!-- Angular Material -->
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.2/angular-material.min.js"></script>
        <!-- Firebase -->
        <script src="https://cdn.firebase.com/js/client/2.2.2/firebase.js"></script>
        <!-- AngularFire -->
        <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
        <!-- our own app scripts -->
        <script src="js/app.js"></script>
    
    </body>
</html>
